.section {
  flex: 1;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-self: start;
  max-width: fit-content;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
