@use '@/shared/styles/global';

.ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @extend .ga-4, .pr-3;

  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    @extend .ga-2;
    flex: 1 0 0;
  }
}
