@use '@/shared/styles/global';

.order {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    min-height: 64px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    @extend .mb-5;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    @extend .ga-2, .mb-15;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    @extend .ga-6, .mb-10;
  }

  &__scroll-area {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-gutter: stable;
    max-height: 350px;
    @extend .ga-4
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @extend .ga-2;
  }

  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    @extend .ga-2;
  }
}
