.header {
  display: flex;
  max-width: 1480px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
  }
}
