.scroll-section {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__scroll-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}
