@use 'normalize';
@use 'reset';
@use 'global';
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  font-family: $font-family;
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

* {
  //outline: 1px solid pink;
}
